<div class="container">
    <div class="row">
        <div class="col">
            <form action="<%= root_url %>" method="POST" class="d-flex justify-content-center">
                <% if @response != nil %>
                    <% if @response.to_options[:errors] != nil %>
                    <div class="alert alert-danger"><%= @response.to_options[:errors][0].to_options[:message] %></div>
                    <% end %>
                    <% if @response.to_options[:message] != nil %>
                    <div class="alert alert-warning"><%= @response.to_options[:message] %></div>
                    <% end %>
                <% end %>
                <button type="submit" class="btn btn-primary">Buscar Repositórios Destaque</button>
            </form>
        </div>
    </div>
<% if @repos != nil
actualLang = '' %>
<div class="row">
    <div class="col"><h3>Repositórios já cadastrados:</h3></div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="list-group">
    <% @repos.each do |repo| %>
        <% if actualLang != repo.language %>
            <% if actualLang != '' %>
                </div></div><div class="col-xs-6"><div class="list-group">
            <% end %>
            <div class="list-group-item"><%= repo.language %></div>
        <% end %>

        <a class="list-group-item list-group-action d-flex justify-content-between" href="repository/<%= repo.id %>">
            <h5><%= repo.name.capitalize %></h5>
            <p><%= repo.description %>
            <br />
            <small>https://github.com/<%= repo.url %></small>
            </p>
        </a>

        <% if actualLang != repo.language %>
            <% actualLang = repo.language %>
        <% end %>
    <% end %>
        </div>
    </div>
</div>
<% end %>
</div>