<div class="container">
    <div class="row">
        <div class="col">
            <a href="<%= root_url %>" class="close">Voltar</a>
            <h1><small><%= @repo.language %></small> <%= @repo.name %></h1>
            <small><a href="https://github.com/<%= @repo.url %>">https://github.com/<%= @repo.url %></a></small>
            <p><%= @repo.description %></p>
        </div>
    </div>
</div>